table td {
	border: 1px solid lightblue;
	background-color:skyblue;
}

.tekst {
	background-color:lightsteelblue;
	text-align: right;
}

#prvo, #drugo, #rezultat {
	padding-left: 10px;
	font-weight: bold;
}

table [type="text"] {
	background-color:beige;
}

table [type="button"] {
	border-radius: 4px;
}

table [type="button"]:hover {
	background-color:silver;
	font-weight: bold;
}